/* DATATABLE STYLES */
.table-striped>tbody>tr:nth-of-type(odd) {
    background-color: #f9f9f9;
}

.table tbody th,
table.dataTable tbody td {
    /* padding: 5px 15px;
    vertical-align: middle;
    border: 1px solid #d6d6d6; */
 
        padding: 6px !important;
        line-height: 1.12857143;
        vertical-align: top;
        border-bottom: 1px solid #bfbfbf;
        border-right: 1px solid #bfbfbf;

}
#dt.table {
    /* border-bottom: 0px solid #e4e4e4; */
    border:1px solid #bbbbbb;
    border-bottom:0;
    border-top:0;
}

/* ========================================== */



select:required:invalid {
    color: #f1f3f4;
}

option[value=""][disabled] {
    display: none;
}

option {
    color: #000;
}



/* for invalid input control : https://www.youtube.com/watch?v=jdsSIKgJ6ZM&t=24s*/
input.ng-touched.ng-invalid {
    border: 1px solid red;
}