<div class="container-fluid " style="background-color: #333333;">
    <div class="container">
      <nav class="navbar navbar-inverse" style=" background-color: #333333 !important; border-color: #333333 !important; margin-bottom: 0px !important;">
     
        <div class="container-fluid">
          <div class="navbar-header">
            <a class="navbar-brand" routerLink="Home">AngularRouting</a>
          </div>
          <ul class="nav navbar-nav">
            <!-- <li class="active"><a routerLink="#">Home</a></li> -->
            <li> <a routerLink="AngularDatatable">AngularDatatable</a></li>
            <li> <a routerLink="JqueryDatatable">JqueryDatatable</a></li>
            <li> <a routerLink="Contact">Contact</a></li>
            <li style="margin-left: 500px;"> <a (click)="logout()" routerLink="Contact">Logout</a></li>
          </ul>
        </div>
      </nav>
    </div>
  </div>
